@import url("https://fonts.googleapis.com/css?family=Rubik:400,500,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

header {
  background: crimson;
  padding: 30px;
}

header > h1 {
  color: white;
  text-align: center;
  font-size: 42px;
}

body {
  background-color: #303030;
}

.start {
  text-align: center;
}
#hidden:hover {
  cursor: pointer;
  opacity: 0.3;
}
.aceBtn {
}

#revealed {
  transition-duration: 0.5s;
  transition-property: all;
  transition-timing-function: ease-in;
  opacity: 1;
  animation: transform;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
}
.aceTransition {
  background-image: url("assets/images/cards/spades/ace.png");
  animation-name: animation;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
}

@keyframes transform {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animation {
  0% {
    margin: 0 0;
  }
  10% {
    margin-right: -10px;
  }
  20% {
    margin-right: -20px;
  }
  30% {
    margin-right: -30px;
  }
  40% {
    margin-right: -40px;
  }
  50% {
    margin-right: -50px;
  }
  60% {
    margin-right: -40px;
  }
  70% {
    margin-right: -30px;
  }
  80% {
    margin-right: -20px;
  }
  90% {
    margin-right: -10px;
  }
  100% {
    margin: 0 0;
  }
}

.card {
  margin: 0 -40px;
  display: inline-block;
  margin-bottom: 200px;
  position: relative;
  top: 100px;
  vertical-align: center;
  text-align: center;

  box-shadow: 0px -200px 100px 0px rgba(30, 30, 30, 0.6) inset,
    -3px 3px 10px 5px rgba(30, 30, 30, 0.6);
}
